{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    
</head>
<body>
    <header class="header navbar-fixed-top">
    <nav class="navbar navbar-expand-sm" > <!--navbar-dark bg-dark -->
        <a href="#" class="navbar-brand"> E-Learning </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-collapse" id ="navbarMenu"></div>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#"><FONT COLOR = #E0FFFF>ELP</FONT></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><FONT COLOR = #E0FFFF>О ПРОЕКТЕ</FONT></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><FONT COLOR = #E0FFFF>ВХОД</FONT></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><FONT COLOR = #E0FFFF>РЕГИСТРАЦИЯ</FONT></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><FONT COLOR = #E0FFFF>НАЧАТЬ ОБУЧЕНИЕ</FONT></a></li>
        </ul>
    </nav>
</header>
    <div class="promo-block align-self-start"  data-image-src="{% static '/images/im1.jpg' %}">

            <div class="container">
                <div class="row", style="height:300px;">
                    <div class="col-sm-6 align-self-start">
                        <div class="promo-block-divider">
                           
                            <h1 class="promo-block-title">E-Learning <br/> Python</h1>
                            <h5 class="promo-block-text">Геймификация курса по изучению питона</h5>
                        </div>
                        <ul class="list-inline">
                            <li><a href="#" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-dribbble"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-behance"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!--<div class="promo-block-divider">
                           
                            <h1 class="promo-block-title">E-Learning <br/> Python</h1>
                            <h5 class="promo-block-text">Геймификация курса по изучению питона</h5>
                        </div>
                        <ul class="list-inline">
                            <li><a href="#" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-dribbble"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-behance"></i></a></li>
                            <li><a href="#" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                        </ul>
                    -->
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>


    <div id="app">
        
    </div>
<!--
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script>
       
            
        new Vue({
            el: "#app"
            
            
        })
    </script>
    -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>

